/*global styles, should be imported first*/
@import url("./components/global.css");

.content {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

.main__header {
    margin: 10px;
}

.form {
    text-align: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    margin: 0 auto;
    width: 100%;
    max-width: 460px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.main__links {
    display: flex;
    width: 100%;
    margin: 20px;
    max-width: 280px;
    align-items: center;
    justify-content: space-between;
}

.main__link {
    font-family: "PTRootUIWeb", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    display: block;
    box-sizing: border-box;
    max-width: 450px;
    width: 100%;
    padding: 10px 15px;
    margin: 15px;
    border-radius: 8px;
    border: 2px solid #ccc;
    background-color: #4582af;
    color: #fff;
}

.main__link:hover {
    cursor: pointer;
    opacity: 0.8;
}